{% if userinfo %}
<script>
    function info_del(info_id) {
        var statu = confirm("{{ _('Are you sure to delete the current data') }}?");
        if (!statu) {
            return false;
        }
        var AjaxUrl = "/post_j/_delete/" + info_id;
        var rout = "{{kwd['router']}}";
        $.getJSON(AjaxUrl, function (Json) {
            var obj = eval(Json);
            if (obj.del_info == 1) {
                alert("{{ _('Delete Successful') }}!");

                if (rout == 'tutorial') {
                    router = "catalog";
                    catid = obj.cat_slug;
                }
                else if (rout == 'info') {
                    router = "filter";
                    catid = obj.cat_id;
                }
                else {
                    router = "list";
                    catid = obj.cat_slug;
                }

                if (catid != '') {
                    window.location.href = '/' + router + '/' + catid;
                }
                else {
                    self.location = document.referrer;
                }
            }
            else {
                alert("{{ _('Delete Failed') }}!");
            }

        });


    }

    function info_nullify(info_id) {

        var AjaxUrl = "/post_j/nullify/" + info_id;
        var rout = "{{kwd['router']}}";

        $.getJSON(AjaxUrl, function (Json) {
            var obj = eval(Json);
            if (obj.nullify_info == 1) {


                if (rout == 'tutorial') {
                    router = "catalog";
                    catid = obj.cat_slug;
                }
                else if (rout == 'info') {
                    router = "filter";
                    catid = obj.cat_id;
                }
                else {
                    router = "list";
                    catid = obj.cat_slug;
                }

                if (catid != '') {
                    window.location.href = '/' + router + '/' + catid;
                }
                else {
                    self.location = document.referrer;
                }
            }
            else {

            }

        });


    }

</script>

<div class="btn-group">

    {% if userinfo.role[1] > '1' %}

    <a href="/{{kwd['router']}}/_edit/{{ kwd['uid']  }}" class="btn btn-xs btn-warning">
        <span class="glyphicon glyphicon-pencil"></span>
        {{ _('Edit') }}
    </a>


    {% elif userinfo.role[0] > '0' %}

    <a href="/{{ 'wiki' if kwd['router'] == 'wiki' else 'meta' }}_man/edit/{{kwd['uid'] }}"
       class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-pencil"></span>
        {{ _('Help edit') }}
    </a>

    {% end %}

    {% if userinfo.role[1] >= '2' %}

    <a href="/{{ 'wiki' if kwd['router'] == 'wiki' else 'meta' }}_man/view/{{ kwd['uid']  }}"
       class="btn btn-xs btn-success">
        <span class="glyphicon glyphicon-eye-open"></span>
        {{ _('Review') }}
    </a>

    {% end %}

    {% if userinfo.role[1] >= '3' %}
    {% if kwd['router'] != 'map' %}

    <a href="/post/_edit_kind/{{ kwd['uid']  }}" class="btn btn-xs btn-info">{{ _('Reclassify') }}</a>

    {% end %}
    <a onclick="info_nullify('{{kwd['uid']}}')" class="btn btn-xs btn-warning">
        <span class="glyphicon glyphicon-remove"></span>
        {{ _('Nullify') }}
    </a>

    <a onclick="info_del('{{kwd['uid']}}')" class="btn btn-xs btn-danger">
        <span class="glyphicon glyphicon-trash"></span>
        {{ _('Delete') }}
    </a>


    {% end %}

</div>
{% else %}
<div class="btn-group">

    <a href="/{{ 'wiki' if kwd['router'] == 'wiki' else 'meta' }}_man/edit/{{kwd['uid'] }}"
       class="btn btn-xs btn-warning">
        <span class="glyphicon glyphicon-pencil"></span>
        {{ _('Help edit') }}
    </a>

</div>
{% end %}
