{% if userinfo %}
<script>
    function info_del(info_id, info_router) {
        var statu = confirm("Are you sure to delete the current data?");
        if (!statu) {
            return false;
        }
        var AjaxUrl = "/" + info_router + "/j_delete/" + info_id;

        $.getJSON(AjaxUrl, function (Json) {
            var obj = eval(Json);
            if (obj.del_info == 1) {
                alert('Delete Successful!');
                if (obj.kind == '1' || obj.kind == 'm' || obj.kind == 'i' || obj.kind == 's') {
                    router = "category"
                    catid = obj.cat_slug
                }
                else {
                    router = "filter"
                    catid = obj.cat_id
                }

                if (catid != '') {
                    window.location.href = '/' + router + '/' + catid;
                }
                else {
                    self.location = document.referrer;
                }
            }
            else {
                alert('Delete Failed!');
            }

        });


    }
</script>

{% if userinfo.role[1] > '1' %}
<span class="cmts">
    <a href="/{{kwd['router']}}/_edit/{{ kwd['uid']  }}" class="btn btn-xs btn-warning">
        <span class="glyphicon glyphicon-pencil"></span>
        {{ _('Edit') }}
    </a>
</span>

{% elif userinfo.role[0] > '0' %}
<span class="cmts">
    <a href="/{{ 'wiki' if kwd['router'] == 'wiki' else 'meta' }}_man/edit/{{kwd['uid'] }}"
       class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-pencil"></span>
        {{ _('Help edit') }}
    </a>
</span>
{% end %}

{% if userinfo.role[1] >= '2' %}
<span class="cmts">
    <a href="/{{ 'wiki' if kwd['router'] == 'wiki' else 'meta' }}_man/view/{{ kwd['uid']  }}"
       class="btn btn-xs btn-danger"> {{ _('Review') }}</a>
</span>
{% end %}

{% if userinfo.role[1] >= '3' %}
{% if kwd['router'] == 'post' or kwd['router'] == 'info'   %}
<span class="cmts">
    <a href="/post/_edit_kind/{{ kwd['uid']  }}" class="btn btn-xs btn-info">{{ _('Reclassify') }}</a>
</span>
{% end %}
<span class="cmts">
    <a onclick="info_del('{{kwd['uid']}}','{{kwd['router']}}')" class="btn btn-xs btn-danger">
        {{ _('Delete') }}
    </a>
</span>
{% end %}

{% else %}

<span class="cmts">
    <a href="/{{ 'wiki' if kwd['router'] == 'wiki' else 'meta' }}_man/edit/{{kwd['uid'] }}"
       class="btn btn-xs btn-warning">
        <span class="glyphicon glyphicon-pencil"></span>
        {{ _('Help edit') }}
    </a>
</span>
{% end %}
