<ul class="list-group">
    <div class="panel-heading">
        {% if order %}
        <a href="/catalog/{{ pcatinfo.slug }}" class="flbt">
        {% else %}
        <a href="/category/{{ pcatinfo.slug }}" class="flbt">
         {% end %}
            {% if 'glyph' in kwd and kwd['glyph'] != '' %}
            <span class="{{ kwd['glyph'] }}"></span>
            {% else %}
            {% end %} {{ pcatinfo.name }}
        </a>
    </div>
    {% for rec in recs %}
    <li class="list-group-item">
        {% if order %}
        <a href="/catalog/{{ rec.slug }}"> {{ rec.name }}
            <span style="font-size:0.8em;background-color:#00adef;color:#fff;padding:1px;">
            ({{ rec.count }})
        </span>
        </a>
        {% else %}
        <a href="/category/{{ rec.slug }}"> {{ rec.name }}
            <span style="font-size:0.8em;background-color:#00adef;color:#fff;padding:1px;">
                ({{ rec.count }})
            </span>
        </a>
        {% end %}
    </li>
    {% end %}

</ul>
