<div class="panel-heading">
    <a href="/list/{{ pcatinfo.slug }}" class="flbt">
    {% if 'glyph' in kwd and kwd['glyph'] != '' %}
    <span class="{{ kwd['glyph'] }}"></span>
    {% else %}
    {% end %} {{ pcatinfo.name }}
        </a>
</div>
<ul class="list-group">
    {% for rec in recs %}
    <li class="list-group-item">
        <a href="/list/{{ rec.slug }}"> {{ rec.name }}
            <span style="font-size:0.8em;background-color:#00adef;color:#fff;padding:1px;">
                ({{ rec.count }})
            </span>
        </a>
    </li>
    {% end %}
</ul>
